/.metadata/
.sonarlint/default/.sonartmp_11424656728567206227/sonarlint-slf4j-sonar-log2226915693444153839.jar
Red-Libros-master/.idea/workspace.xml
Red-Libros-master/.idea/vcs.xml
Red-Libros-master/.idea/Red-Libros-master.iml
Red-Libros-master/.idea/modules.xml
