.hover_border:hover {
	-fx-border-color: #0fbcf9;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-background-color: #34e7e4e0;
}

.normal_button {
	-fx-background-color: #1f93ff;
}
.red_button {
	-fx-background-color: #ff0808;
}
.red_button_hover:hover {
	-fx-background-color: #ff7369;
}
.green_button {
	-fx-background-color: #33cc33;
}
.gray_button {
	-fx-background-color: GRAY;
}
.hover_green:hover {
	-fx-background-color: #66ff66;
}

.hover_bluetext:hover {
	-fx-fill: #4db8ff;
}
.background {
	-fx-background-size: cover;
}
.main_color {
	-fx-background-color:  #0fbcf9;
}
.hover_main:hover {
	-fx-background-color: #26c6ff;
}
.hover_print:hover {
	-fx-background-color:  #fccb3a;
}
.print_button {
	-fx-background-color:  #dea600;
}